body {
  min-height: 100vh;

  background-color:#1c222b;
 
}

a {
  list-style-type: none;
}


/* first half of the header */
/* All wording should have a flavorful white color in the header */
.header {
    margin: 0;
    padding-bottom: 60px;

    background-color: #1d2838;
    color: aliceblue;
}

.top-container {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  gap: 12%;
}

.title-position {
margin-bottom: 1% ; 
padding-left: 1.5% ; 
padding-top: 0 16px ;
font-family: Arial, Helvetica, sans-serif;
}

.top-links li {
    display: inline-block;
    padding: 0 25px;
    margin-top: 12px;
    white-space: nowrap;

    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 2%;
    justify-content: center;
}



/* Content portion of the Header */
.header-secondary, img {
display: flex;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
padding-top: 40px;
}

.left-header {
margin: 10px 20px 10px 25px;
width: 25%;
}


.header-image {
  border: 2px;
  max-width: 80%;
  
}

.header-desc {
    text-align: justify;
    margin-right: 20%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .1%;
    padding-bottom: .1%;

    border-radius: 8px;
    border: 1px solid rg(156, 173, 191, 0.72) ;
    box-shadow: 1px -1px 16px rgba(79, 147, 221, 0.72)  ;

}


.sign-up {

  margin-top: 3%;
  padding: 9px 19px;
  border-radius: 7px;
  background: rgb(99, 143, 194);
  color: white;
}



/* Middle of the Page, Card Content */ 

.container {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aliceblue;
}

.card-container {
  display: flex;
  justify-content: center;
  color: aliceblue;

  margin-top: 30px; 

}

.border-container img {
  border: solid rgba(135, 193, 255, 0.72);
  border-width: 5px;
  border-radius: 1%;
  
  padding: 1%;
  margin-left: 23% ;
  max-width: 55%;

  
  display: flex;
  justify-content: space-around;

}

.info {
  text-align: center;
  margin-left: 30px;
}


/* Nearing bottom of the page */


.quote {
  background: rgba(202, 209, 215, 0.72);

  padding: 30px;
  margin-top: 70px;
}

.text {
  font-style: italic;
  font-size: 33px;
  color: #1F2937;

  padding-left: 30%;
  padding-right: 30%;
}

.source {
color:rgb(21, 20, 19);
position: absolute;

right: 30%;
top: 100%;
}


/*Call to Action*/

.action {
margin-top: 5%;
margin-bottom: 3%;
margin-left: 30%;
margin-right: 30%;

padding: .2%;


background:rgba(53, 151, 255, 0.72);
}


.action-header {
  display: flex;
  margin-left: 19%;
  font-family:Arial, Helvetica, sans-serif;
  
  color: white;
}

.action-text {
  display: flex;
  justify-content: center;
  gap: 10%;
  
  color:white;
  font-size: 19px;
  font-weight: 40;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.sign-up2 {

  padding: 13px 32px;
  margin: 10px;
  color: white;
  font-size: 18px;

  background: rgba(53, 151, 255, 0);
  border: solid aliceblue;
  border-radius: 30%;

}



/* Footer */

.footer {
  display: flex;
  justify-content: center;
  padding: .1px;
  background-color: rgba(30, 20, 43, 0.786);
  color: aliceblue;
}