body {
  min-height: 100vh;
  
}

a {
  list-style-type: none;
}


/* first half of the header */
/* All wording should have a flavorful white color in the header */
.header {
    margin: 0;
    padding-bottom: 60px;

    background-color: #1d2838;
    color: aliceblue;
}

.top-container {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
}

.h1-position {
margin-bottom: 1% ; 
padding-left: 1.5% ; 
padding-top: 0 16px ;
}

.top-links li {
    display: inline-block;
    padding: 0 25px;
    margin-top: 12px;
    white-space: nowrap;

    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 2%;
    justify-content: center;
}



/* Content portion of the Header */
.header-secondary {
justify-content: space-around;
gap: 4%;
padding-top: 40px;

flex: 1;
display: flex;
}

.header-image {
  margin: 20px;
  border: 2px;
  padding: 7px;
}

.header-desc {
    display: flex;
    margin-left: 18.7%;
    margin-right: 67%;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid rg(156, 173, 191, 0.72) ;
    box-shadow: 1px -1px 16px rgba(79, 147, 221, 0.72)  ;

}


button {
  padding: 9px 19px;
  border-radius: 7px;
  background: rgb(99, 143, 194);
  color: white;

  margin-left: 19%;
  margin-top: 1%;

}


/* Middle of the Page, Card Content */ 

.container {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
}

.card-container {
  display: flex;
  justify-content: space-evenly;

  margin-top: 30px;

}

.border-container {
  border: solid rgba(135, 193, 255, 0.72);
  border-width: 5px;
  border-radius: 4.5%;
  padding: 40%;

}

.info {
  text-align: center;
}


/* Nearing bottom of the page */


.quote {
  background: rgba(202, 209, 215, 0.72);

  padding: 40px;
  margin-top: 70px;
}

.text {
  font-style: italic;
  font-size: 36px;
  color: #1F2937;

  padding-left: 30%;
  padding-right: 30%;
}

.source {

position: absolute;

right: 140px;

}